<div class="jumbotron" data-ng-init="init()">
    <h2>Hey {{user.name}} ! (Admin)</h2>
    <p></p>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
	  <h3 class="panel-title">Check-in Users</h3>
	</div>
	<div class="panel-body">
	    <form ng-controller="FacilityHomeCtrl">
            <input name="allMembers" id="allMembers" type="text" placeholder="All Members" ng-model="checkInSelected" typeahead="person.name for person in allMembers | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select='checkinOnSelect($item, $model, $label)'>
	    </form>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
	  <h3 class="panel-title">Courts</h3>
	</div>
	<div class="panel-body">
        
        <ul ui-sortable="sortableOptions" ng-model="checkedInMembers">
          <li ng-repeat="checkedInMember in checkedInMembers">{{ checkedInMember.name }}</li>
        </ul>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
	  <h3 class="panel-title">New User</h3>
	</div>
	<div class="panel-body">
	  Panel content
	</div>
</div>

<a href="#/board" class="list-group-item active">Board</a>