<div flex layout="row" data-ng-init="init()">
  <div flex="20" layout="column" class="boxWithHeight" layout-padding>
    <section flex="10">BadmintonNC Tag Board</section>
    <section flex>
        Queue
		<ul>
		  <li ng-repeat="checkedInMember in facility.checkedInMembers" >{{ checkedInMember.name }}</li>
		</ul>
    </section>
  </div>
  <div flex layout="column" class="boxWithHeight" layout-padding>
    <div flex layout="row" ng-repeat="court in allCourts track by $index | orderBy:'name'">
        <section flex ng-repeat="timeslot in court.timeSlots track by $index">
			Court {{court.name}} - Timeslot {{timeslot.startMin}}
        </section>
    </div>
  </div>
</div>