<div ui-layout data-ng-init="init()">
      <div ui-layout-container> 
        <div ui-layout="{flow : 'column'}" >
          <div ui-layout-container size="20%">
			<div ui-layout="{flow : 'row'}">
				<div ui-layout-container size="10%">
					{{facility.name}}<br>
					Wait time: 10 Mins.
				</div>
				<div ui-layout-container id="queue">
					<ul>
						<li>Amit</li>
						<li>Rohit</li>
						<li>Tim</li>
						<li>Mohit</li>
						<li>Jim</li>
					</ul>
				</div>
			</div>
		  </div>
          <div ui-layout-container>
            <div ui-layout>
              <div ui-layout-container ng-repeat="court in allCourts track by $index | orderBy:'name'">
                <div ui-layout>
                  <div ui-layout-container size="20%">Court - {{court.name}}</div>
                  <div ui-layout-container>
                    <div ui-layout="{flow : 'column'}">
                      
                        <div ui-layout-container ng-repeat="timeslot in court.timeSlots track by $index">
                            <div ui-layout>
                              <div ui-layout-container size="20%">{{timeslot.startMin}}</div>
                              <div ui-layout-container id="c_{{court.name}}_t_{{timeslot.startMin}}">
                              </div>
                            </div>
                        </div>
                        
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>