<script src="https://apis.google.com/js/platform.js?onload=appStart" async defer></script>
<meta name="google-signin-client_id" content="577808984615-h6fgitnl31qu5fsoej8p6sbt51a3vb6j.apps.googleusercontent.com">
<div ng-cloak layout="column" data-ng-init="init()" ng-controller="FacilityCtrl">
  <div flex class="md-headline md-padding">
      Welcome to Court Reservation.
    </div>
  <div flex>
    <div ng-if="!user.id" flex id="signin" class="g-signin2" data-onsuccess="onSignIn"></div>

    <div ng-if="user.id" flex>
      <div class="md-padding">
        Welcome {{user.fullName}}
        <form name="userForm">
        <div layout="row">
          <md-input-container>
            <label>Facility</label>
            <md-select ng-model="facility" required>
              <md-option ng-repeat="facility in allFacilities" value="{{facility.id}}">
                {{facility.name}}
              </md-option>
            </md-select>
            <div ng-messages="userForm.facility.$error" ng-if="userForm.$dirty">
              <div ng-message="required">This is required!</div>
            </div>
            </md-input-container>
        </form>
        </div>
      </div>
      <div flex>
        <div>
          <md-button class="md-raised md-primary" ng-click="userForm.$valid && login(person, facility)"
                              ng-disabled="userForm.$invalid">Go</md-button>
          <md-button class="md-raised md-primary" ng-click="signOut()">Sign Out</md-button>
          </div>
      </div>
    </div>
  </div>

</div>
