<div layout="column" data-ng-init="init()" ng-controller="FacilityCtrl">
  <div flex class="md-headline md-padding">
      Welcome to Court Reservation.
    </div>
  <div flex>
    <div class="md-padding">
        <h1 class="md-title">Login</h1>
        <div layout="row">
          <md-input-container>
            <label>Username</label>
            <input ng-model="person.email">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="person.password">
          </md-input-container>
          <md-input-container>
            <label>Facility</label>
            <md-select ng-model="facility" ng-model-options="{trackBy: '$value.id'}">
              <md-option ng-repeat="facility in allFacilities" value="{{facility.id}}" ng-disabled="$index === 1">
                {{facility.name}}
              </md-option>
            </md-select>
          </md-input-container>
    </div>
    <div flex>
        <md-switch ng-model="rememberMe" aria-label="Switch 1">
            Remember me: {{ rememberMe }}
          </md-switch>
    </div>
    <div flex>
        </div>
            <md-button class="md-raised md-primary" ng-click="login(person, facility, rememberMe)">Go</md-button>
        </div>
    </div>
</div>

