<div ng-cloak layout="column" data-ng-init="init()" ng-controller="FacilityCtrl">
  <div flex class="md-headline md-padding">
      Welcome to Court Reservation.
    </div>
  <div id="nav">
    <div id="signin" class="g-signin2"></div>
    <button id="signout" ng-click="signOut()">Signout</button>
    <button id="disconnect" ng-click="disconnect()">Disconnect</button>
  </div>

  <div id="user-details">
    <table>
      <tr>
        <td><img ng-show="user.photo" ng-src="{{ user.photo }}"></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Photo URL: </td>
        <td>{{ user.photo }}</td>
      </tr>
      <tr>
        <td>User ID: </td>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <td>Full Name: </td>
        <td>{{ user.fullName }}</td>
      </tr>
      <tr>
        <td>First Name: </td>
        <td>{{ user.firstName }}</td>
      </tr>
      <tr>
        <td>Last Name: </td>
        <td>{{ user.lastName }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>Domain: </td>
        <td>{{ user.domain }}</td>
      </tr>
      <tr>
        <td>Timestamp: </td>
        <td>{{ user.timestamp }}</td>
      </tr>
      <tr>
        <td>IP Address: </td>
        <td>{{ user.ip }}</td>
      </tr>
      <tr>
        <td>ID Token: </td>
        <td>{{ user.idToken }}</td>
      </tr>
      <tr>
        <td>Expires At: </td>
        <td>{{ user.expiresAt }}</td>
      </tr>
    </table>
  </div>

</div>
